<div id="carbonads-container">
    <div class="carbonad">
        <div id="azcarbon">
            <span>
                @* skilltree ad*@
                <span class="carbonad-image carbonad-image carbonad-img">
                    <script src="https://skilltree.azurewebsites.net/feed/Promotion?w=200"></script>
                </span>
                <span class="carbonad-text">SkillTree 與一般補習班不同，我們都是擁有豐富經驗的業界講師，教您如何上場殺敵，拳拳到肉的課程內容剛好是我們擅長的。﻿</span>
                <span class="carbonad-tag">ads via <a href="http://skilltree.my" target="_blank" rel="external">SkillTree</a></span>
            </span>
        </div>
    </div>
</div>