@{
    ViewBag.Title = "首頁";
    ViewBag.Description = "在嘗試中找樂子，在樂子中找興趣，在興趣中找所愛，為所愛付出一切。";
    ViewBag.Keywords = "ASP.NET MVC, ASP.NET Web API, C#, VB.NET, Microsoft Azure, Bootstrap 2/3中文, 網站開發, 企業內訓";

    ViewBag.Domain = Request.Url.Scheme + System.Uri.SchemeDelimiter + Request.Url.Host +
                     (Request.Url.IsDefaultPort ? "" : ":" + Request.Url.Port);

    ViewBag.OgUrl = ViewBag.Domain + Url.Action("Index");
}

@section navbar
{
    @Html.Partial("_NavBarPartial")
}

@section footer
{
    @Html.Partial("_FooterPartial")
}

@section HeadCSS
{
    <style>
        .center {
            max-width: 100%;
            overflow: hidden;
            border: none;
            padding: 0;
            margin: 0 auto;
            display: block;
        }
    </style>
}

<div style="max-width: 100%; overflow: hidden; border: none; padding: 0; margin: 0 auto; display: block;" marginheight="0" marginwidth="0">
    @{ Html.RenderPartial("IndexSlider");}
</div>