
    <div style="background-color: #d7d7d7; margin: auto; text-align: center;">
        <link href="~/Content/slider/Index.min.css?kkbruce=750922105102" rel="stylesheet" />
        <!--[if IE]><link rel="stylesheet" href="../../Content/slider/default.css"><![endif]-->
        <!--[if lte IE 9]><script src="../../Scripts/slider/ie.min.js"></script><![endif]-->
        <div class='csslider1 autoplay '>
            <input name="cs_anchor1" id='cs_slide1_0' type="radio" class='cs_anchor slide'>
            <input name="cs_anchor1" id='cs_slide1_1' type="radio" class='cs_anchor slide'>
            <input name="cs_anchor1" id='cs_slide1_2' type="radio" class='cs_anchor slide'>
            <input name="cs_anchor1" id='cs_slide1_3' type="radio" class='cs_anchor slide'>
            <input name="cs_anchor1" id='cs_slide1_4' type="radio" class='cs_anchor slide'>
            <input name="cs_anchor1" id='cs_play1' type="radio" class='cs_anchor' checked>
            <input name="cs_anchor1" id='cs_pause1' type="radio" class='cs_anchor'>
            <ul>
                <div style="width: 100%; visibility: hidden; font-size: 0; line-height: 0;">
                    <img src="~/Images/BS3/Bootstrap.png" style="width: 100%;">
                </div>
                <li class='num0 img'>
                    <a href="https://kkbruce.tw/bs3"><img src='~/Images/BS3/Bootstrap.png' alt='Bootstrap 3 中文手冊' title='Bootstrap 3 中文手冊' /> </a>
                </li>
                <li class='num1 img'>
                    <a href="https://kkbruce.tw/bs3"><img src='~/Images/BS3/gettingstarted.png' alt='Bootstrap旅程開始' title='Bootstrap旅程開始' /> </a>
                </li>
                <li class='num2 img'>
                    <a href="https://kkbruce.tw/bs3"><img src='~/Images/BS3/css.png' alt='Bootstrap CSS' title='Bootstrap CSS' /> </a>
                </li>
                <li class='num3 img'>
                    <a href="https://kkbruce.tw/bs3"><img src='~/Images/BS3/components.png' alt='Bootstrap 元件' title='Bootstrap 元件' /> </a>
                </li>
                <li class='num4 img'>
                    <a href="https://kkbruce.tw/bs3"><img src='~/Images/BS3/javascript.png' alt='Bootstrap Javascript' title='Bootstrap Javascript' /> </a>
                </li>

            </ul>
            @*<a class="cs_lnk" href="http://cssslider.com">image slider</a>*@
            <div class='cs_description'>
                <label class='num0'>
                    <span class="cs_title"><span class="cs_wrapper">Bootstrap 3 中文手冊</span></span>
                    <br /><span class="cs_descr"><span class="cs_wrapper">Bootstrap 3是最受歡迎的 HTML、CSS 和 JS 框架，用於開發自適應網頁與以行動優先的網站專案。</span></span>
                </label>
                <label class='num1'>
                    <span class="cs_title"><span class="cs_wrapper">Bootstrap旅程開始</span></span>
                    <br /><span class="cs_descr"><span class="cs_wrapper">Bootstrap 3 概觀、如何下載使用、基礎範本和範例等等。</span></span>
                </label>
                <label class='num2'>
                    <span class="cs_title"><span class="cs_wrapper">Bootstrap CSS</span></span>
                    <br /><span class="cs_descr"><span class="cs_wrapper">全域的 CSS 設置、樣式與可擴充的類別以增強基礎的 HTML 元素，還有優秀的格線系統。</span></span>
                </label>
                <label class='num3'>
                    <span class="cs_title"><span class="cs_wrapper">Bootstrap 元件</span></span>
                    <br /><span class="cs_descr"><span class="cs_wrapper">超過數十個可重覆使用的元件建置，提供符號圖示（iconography）、下拉選單、input 群組、巡覽、警告視窗等許多功能。</span></span>
                </label>
                <label class='num4'>
                    <span class="cs_title"><span class="cs_wrapper">Bootstrap Javascript</span></span>
                    <br /><span class="cs_descr"><span class="cs_wrapper">內含 13 個 jQuery 外掛，它們賦予 Bootstrap 的元件生命。非常簡單地參考全部或各別使用。</span></span>
                </label>
            </div>

            <div class='cs_arrowprev'>
                <label class='num0' for='cs_slide1_0'></label>
                <label class='num1' for='cs_slide1_1'></label>
                <label class='num2' for='cs_slide1_2'></label>
                <label class='num3' for='cs_slide1_3'></label>
                <label class='num4' for='cs_slide1_4'></label>
            </div>
            <div class='cs_arrownext'>
                <label class='num0' for='cs_slide1_0'></label>
                <label class='num1' for='cs_slide1_1'></label>
                <label class='num2' for='cs_slide1_2'></label>
                <label class='num3' for='cs_slide1_3'></label>
                <label class='num4' for='cs_slide1_4'></label>
            </div>

            <div class='cs_bullets'>
                <label class='num0' for='cs_slide1_0'>
                    <span class='cs_point'></span>
                    <span class='cs_thumb'><img src='~/Images/BS3/tooltips/bootstrap.png' alt='Bootstrap 3 中文手冊' title='Bootstrap 3 中文手冊' /></span>
                </label>
                <label class='num1' for='cs_slide1_1'>
                    <span class='cs_point'></span>
                    <span class='cs_thumb'><img src='~/Images/BS3/tooltips/gettingstarted.png' alt='Bootstrap旅程開始' title='Bootstrap旅程開始' /></span>
                </label>
                <label class='num2' for='cs_slide1_2'>
                    <span class='cs_point'></span>
                    <span class='cs_thumb'><img src='~/Images/BS3/tooltips/css.png' alt='Bootstrap CSS' title='Bootstrap CSS' /></span>
                </label>
                <label class='num3' for='cs_slide1_3'>
                    <span class='cs_point'></span>
                    <span class='cs_thumb'><img src='~/Images/BS3/tooltips/components.png' alt='Bootstrap 元件' title='Bootstrap 元件' /></span>
                </label>
                <label class='num4' for='cs_slide1_4'>
                    <span class='cs_point'></span>
                    <span class='cs_thumb'><img src='~/Images/BS3/tooltips/javascript.png' alt='Bootstrap Javascript' title='Bootstrap Javascript' /></span>
                </label>
            </div>

        </div>
    </div>