<div class="bs-docs-section">
  <h1 id="page-header" class="page-header">頁面標題<!--Page header--></h1>

    <p>
        為 <code>h1</code> 加上簡單的外形，這可以增加適當空間並與頁面其他內容中分離出來。也可以在 <code>h1</code> 裡加入 <code>small</code> 元素，這就像其他元件一樣（需要額外樣式）。
        <!--A simple shell for an <code>h1</code> to appropriately space out and segment sections of content on a page. It can utilize the <code>h1</code>'s default <code>small</code> element, as well as most other components (with additional styles).-->
    </p>
  <div class="bs-example">
    <div class="page-header">
      <h1>Example page header <small>Subtext for header</small></h1>
    </div>
  </div>
<div class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"page-header"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;h1&gt;</span>Example page header <span class="nt">&lt;small&gt;</span>Subtext for header<span class="nt">&lt;/small&gt;&lt;/h1&gt;</span>
<span class="nt">&lt;/div&gt;</span></code></pre></div>
</div>
