<div class="bs-docs-section">
  <h1 id="nav" class="page-header">巡覽<!--Navs--></h1>

    <p class="lead">
        巡覽在 Bootstrap 可共享相同的標籤，都是基於 <code>.nav</code> 類別，並且共享狀態。交換修飾類別以改變不同的樣式。
        <!--Navs available in Bootstrap have shared markup, starting with the base <code>.nav</code> class, as well as shared states. Swap modifier classes to switch between each style.-->
    </p>

  <div class="bs-callout bs-callout-info">
    <h4>在頁籤使用巡覽功能需要參考頁籤的 JavaScript 外掛<!--Using navs for tab panels requires JavaScript tabs plugin--></h4>
      <p>
          針對可切換頁籤區域的頁籤，必須使用@(@Html.ActionLink("頁籤的 JavaScript 外掛", "Javascript", null, null, null, "tabs", null, null))。標記也需要額外加入 <code>role</code> 和 ARIA 屬性 - 細節閱讀@(@Html.ActionLink("標記範例", "Javascript", null, null, null, "tabs-usage", null, null))以瞭解更多資訊。
          <!--For tabs with tabbable areas, you must use the <a href="../javascript/#tabs">tabs JavaScript plugin</a>. The markup will also require additional <code>role</code> and ARIA attributes – see the plugin's <a href="../javascript/#tabs-usage">example markup</a> for further details.-->
      </p>
  </div>

  <div class="bs-callout bs-callout-warning">
    <h4>讓巡覽有巡覽列的無障礙<!--Make navs used as navigation accessible--></h4>
      <p>
          如果你使用頁籤來提供巡覽列效果，記得在最上層邏輯容器 <code>&lt;ul&gt;</code> 加入 <code>role="navigation"</code> 設置，或利用 <code>&lt;nav&gt;</code> 元素來包覆整個巡覽。不要加入 <code>role</code> 到 <code>&lt;ul&gt;</code> 本身，這是影響輔助技術宣讀它為實際清單。
          <!--If you are using navs to provide a navigation bar, be sure to add a <code>role="navigation"</code> to the most logical parent container of the <code>&lt;ul&gt;</code>, or wrap a <code>&lt;nav&gt;</code> element around the whole navigation. Do not add the role to the <code>&lt;ul&gt;</code> itself, as this would prevent it from being announced as an actual list by assistive technologies.-->
      </p>
  </div>

  <h2 id="nav-tabs">頁籤<!--Tabs--></h2>
    <p>
        注意，<code>.nav-tabs</code> 類別依賴於 <code>.nav</code> 基礎類別。
        <!--Note the <code>.nav-tabs</code> class requires the <code>.nav</code> base class.-->
    </p>
  <div class="bs-example">
    <ul class="nav nav-tabs">
      <li role="presentation" class="active"><a href="#">Home</a></li>
      <li role="presentation"><a href="#">Profile</a></li>
      <li role="presentation"><a href="#">Messages</a></li>
    </ul>
  </div>
<div class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;ul</span> <span class="na">class=</span><span class="s">"nav nav-tabs"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;li</span> <span class="na">role=</span><span class="s">"presentation"</span> <span class="na">class=</span><span class="s">"active"</span><span class="nt">&gt;&lt;a</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span>Home<span class="nt">&lt;/a&gt;&lt;/li&gt;</span>
  <span class="nt">&lt;li</span> <span class="na">role=</span><span class="s">"presentation"</span><span class="nt">&gt;&lt;a</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span>Profile<span class="nt">&lt;/a&gt;&lt;/li&gt;</span>
  <span class="nt">&lt;li</span> <span class="na">role=</span><span class="s">"presentation"</span><span class="nt">&gt;&lt;a</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span>Messages<span class="nt">&lt;/a&gt;&lt;/li&gt;</span>
<span class="nt">&lt;/ul&gt;</span></code></pre></div>


  <h2 id="nav-pills">藥片樣式<!--Pills--></h2>
    <p>
        採用相同的 HTML，但使用 <code>.nav-pills</code> 類別替代：
        <!--Take that same HTML, but use <code>.nav-pills</code> instead:-->
    </p>
  <div class="bs-example">
    <ul class="nav nav-pills">
      <li role="presentation" class="active"><a href="#">Home</a></li>
      <li role="presentation"><a href="#">Profile</a></li>
      <li role="presentation"><a href="#">Messages</a></li>
    </ul>
  </div>
<div class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;ul</span> <span class="na">class=</span><span class="s">"nav nav-pills"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;li</span> <span class="na">role=</span><span class="s">"presentation"</span> <span class="na">class=</span><span class="s">"active"</span><span class="nt">&gt;&lt;a</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span>Home<span class="nt">&lt;/a&gt;&lt;/li&gt;</span>
  <span class="nt">&lt;li</span> <span class="na">role=</span><span class="s">"presentation"</span><span class="nt">&gt;&lt;a</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span>Profile<span class="nt">&lt;/a&gt;&lt;/li&gt;</span>
  <span class="nt">&lt;li</span> <span class="na">role=</span><span class="s">"presentation"</span><span class="nt">&gt;&lt;a</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span>Messages<span class="nt">&lt;/a&gt;&lt;/li&gt;</span>
<span class="nt">&lt;/ul&gt;</span></code></pre></div>
    <p>
        藥片樣式（Pill）也能垂直堆疊佈局。僅需加入 <code>.nav-stacked</code> 類別。
        <!--Pills are also vertically stackable. Just add <code>.nav-stacked</code>.-->
    </p>
  <div class="bs-example">
    <ul class="nav nav-pills nav-stacked" style="max-width: 300px;">
      <li role="presentation" class="active"><a href="#">Home</a></li>
      <li role="presentation"><a href="#">Profile</a></li>
      <li role="presentation"><a href="#">Messages</a></li>
    </ul>
  </div>
<div class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;ul</span> <span class="na">class=</span><span class="s">"nav nav-pills nav-stacked"</span><span class="nt">&gt;</span>
  ...
<span class="nt">&lt;/ul&gt;</span></code></pre></div>


  <h2 id="nav-justified">等寬樣式<!--Justified--></h2>
    <p>
        在大於 768px 的螢幕上，透過加入 <code>.nav-justified</code> 很容易讓頁籤或藥片樣式以等寬的樣式來呈現。另外在小螢幕上，巡覽連結會以堆疊方式呈現。
        <!--Easily make tabs or pills equal widths of their parent at screens wider than 768px with <code>.nav-justified</code>. On smaller screens, the nav links are stacked.-->
    </p>
    <p><strong class="text-danger">
        等寬巡覽列的巡覽連結目前還未支援。   
        <!--Justified navbar nav links are currently not supported.-->
       </strong></p>
  <div class="bs-callout bs-callout-warning">
    <h4>Safari 和自適應等寬巡覽<!--Safari and responsive justified navs--></h4>
      <p>
          從 v8.0 開始，Safari 有個臭蟲，對於等寬巡覽樣式，水平改變瀏覽器的大小將會造成呈現上的錯誤。此臭串可以在<a href="@Url.Action("Examples", "bs3", new {name = "justified-nav"})">等寬巡覽範例</a>重現。
          <!--As of v8.0, Safari exhibits a bug in which resizing your browser horizontally causes rendering errors in the justified nav that are cleared upon refreshing. This bug is also shown in the <a href="../examples/justified-nav/">justified nav example</a>.-->
      </p>
  </div>
  <div class="bs-example">
    <ul class="nav nav-tabs nav-justified">
      <li role="presentation" class="active"><a href="#">Home</a></li>
      <li role="presentation"><a href="#">Profile</a></li>
      <li role="presentation"><a href="#">Messages</a></li>
    </ul>
    <br>
    <ul class="nav nav-pills nav-justified">
      <li role="presentation" class="active"><a href="#">Home</a></li>
      <li role="presentation"><a href="#">Profile</a></li>
      <li role="presentation"><a href="#">Messages</a></li>
    </ul>
  </div>
<div class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;ul</span> <span class="na">class=</span><span class="s">"nav nav-tabs nav-justified"</span><span class="nt">&gt;</span>
  ...
<span class="nt">&lt;/ul&gt;</span>
<span class="nt">&lt;ul</span> <span class="na">class=</span><span class="s">"nav nav-pills nav-justified"</span><span class="nt">&gt;</span>
  ...
<span class="nt">&lt;/ul&gt;</span></code></pre></div>


  <h2 id="nav-disabled-links">禁用連結<!--Disabled links--></h2>
    <p>
        對於任何巡覽元件（頁籤或藥片樣式）都可以加入 <code>.disabled</code> 類別以呈現 <strong>灰色連結和無移入（hover）效果</strong>。
        <!--For any nav component (tabs or pills), add <code>.disabled</code> for <strong>gray links and no hover effects</strong>.-->
    </p>

  <div class="bs-callout bs-callout-warning">
    <h4>連結功能不受影響<!--Link functionality not impacted--></h4>
      <p>
          此類別僅僅改變 <code>&lt;a&gt;</code> 的外觀，並不影響它的功能。可以撰寫 JavaScript 以禁用這裡的連結。
          <!--This class will only change the <code>&lt;a&gt;</code>'s appearance, not its functionality. Use custom JavaScript to disable links here.-->
      </p>
  </div>

  <div class="bs-example">
    <ul class="nav nav-pills">
      <li role="presentation"><a href="#">Clickable link</a></li>
      <li role="presentation"><a href="#">Clickable link</a></li>
      <li role="presentation" class="disabled"><a href="#">Disabled link</a></li>
    </ul>
  </div>
<div class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;ul</span> <span class="na">class=</span><span class="s">"nav nav-pills"</span><span class="nt">&gt;</span>
  ...
  <span class="nt">&lt;li</span> <span class="na">role=</span><span class="s">"presentation"</span> <span class="na">class=</span><span class="s">"disabled"</span><span class="nt">&gt;&lt;a</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span>Disabled link<span class="nt">&lt;/a&gt;&lt;/li&gt;</span>
  ...
<span class="nt">&lt;/ul&gt;</span></code></pre></div>


  <h2 id="nav-dropdowns">使用下拉選單<!--Using dropdowns--></h2>
    <p>
        想在巡覽加入下接選單，只需加入一點額外的 HTML 和使用@(@Html.ActionLink("下拉選單 JavaScript 外掛", "Javascript", null, null, null, "dropdowns", null, null))即可。
        <!--Add dropdown menus with a little extra HTML and the <a href="../javascript/#dropdowns">dropdowns JavaScript plugin</a>.-->
    </p>

  <h3>帶下接選單的頁籤<!--Tabs with dropdowns--></h3>
  <div class="bs-example">
    <ul class="nav nav-tabs">
      <li role="presentation" class="active"><a href="#">Home</a></li>
      <li role="presentation"><a href="#">Help</a></li>
      <li role="presentation" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
          Dropdown <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </li>
    </ul>
  </div>
<div class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;ul</span> <span class="na">class=</span><span class="s">"nav nav-tabs"</span><span class="nt">&gt;</span>
  ...
  <span class="nt">&lt;li</span> <span class="na">role=</span><span class="s">"presentation"</span> <span class="na">class=</span><span class="s">"dropdown"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;a</span> <span class="na">class=</span><span class="s">"dropdown-toggle"</span> <span class="na">data-toggle=</span><span class="s">"dropdown"</span> <span class="na">href=</span><span class="s">"#"</span> <span class="na">role=</span><span class="s">"button"</span> <span class="na">aria-expanded=</span><span class="s">"false"</span><span class="nt">&gt;</span>
      Dropdown <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"caret"</span><span class="nt">&gt;&lt;/span&gt;</span>
    <span class="nt">&lt;/a&gt;</span>
    <span class="nt">&lt;ul</span> <span class="na">class=</span><span class="s">"dropdown-menu"</span> <span class="na">role=</span><span class="s">"menu"</span><span class="nt">&gt;</span>
      ...
    <span class="nt">&lt;/ul&gt;</span>
  <span class="nt">&lt;/li&gt;</span>
  ...
<span class="nt">&lt;/ul&gt;</span></code></pre></div>

  <h3>帶下拉選單的藥片樣式<!--Pills with dropdowns--></h3>
  <div class="bs-example">
    <ul class="nav nav-pills">
      <li role="presentation" class="active"><a href="#">Home</a></li>
      <li role="presentation"><a href="#">Help</a></li>
      <li role="presentation" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
          Dropdown <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </li>
    </ul>
  </div><!-- /example -->
<div class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;ul</span> <span class="na">class=</span><span class="s">"nav nav-pills"</span><span class="nt">&gt;</span>
  ...
  <span class="nt">&lt;li</span> <span class="na">role=</span><span class="s">"presentation"</span> <span class="na">class=</span><span class="s">"dropdown"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;a</span> <span class="na">class=</span><span class="s">"dropdown-toggle"</span> <span class="na">data-toggle=</span><span class="s">"dropdown"</span> <span class="na">href=</span><span class="s">"#"</span> <span class="na">role=</span><span class="s">"button"</span> <span class="na">aria-expanded=</span><span class="s">"false"</span><span class="nt">&gt;</span>
      Dropdown <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"caret"</span><span class="nt">&gt;&lt;/span&gt;</span>
    <span class="nt">&lt;/a&gt;</span>
    <span class="nt">&lt;ul</span> <span class="na">class=</span><span class="s">"dropdown-menu"</span> <span class="na">role=</span><span class="s">"menu"</span><span class="nt">&gt;</span>
      ...
    <span class="nt">&lt;/ul&gt;</span>
  <span class="nt">&lt;/li&gt;</span>
  ...
<span class="nt">&lt;/ul&gt;</span></code></pre></div>
</div>
