<div class="col-md-3">
          <div class="bs-docs-sidebar hidden-print hidden-xs hidden-sm" role="complementary">
                        <ul class="nav bs-docs-sidenav">
              
                <li>
  <a href="#glyphicons">字型圖示<!--Glyphicons--></a>
  <ul class="nav">
    <li><a href="#glyphicons-glyphs">可用符號<!--Available glyphs--></a></li>
    <li><a href="#glyphicons-how-to-use">如何使用<!--How to use--></a></li>
    <li><a href="#glyphicons-examples">範例<!--Examples--></a></li>
  </ul>
</li>
<li>
  <a href="#dropdowns">下拉選單<!--Dropdowns--></a>
  <ul class="nav">
    <li><a href="#dropdowns-example">範例<!--Example--></a></li>
    <li><a href="#dropdowns-alignment">對齊方式<!--Alignment options--></a></li>
    <li><a href="#dropdowns-headers">標題<!--Headers--></a></li>
    <li><a href="#dropdowns-disabled">禁用選單項目<!--Disabled menu items--></a></li>
  </ul>
</li>
<li>
  <a href="#btn-groups">按鈕群組<!--Button groups--></a>
  <ul class="nav">
    <li><a href="#btn-groups-single">基礎範例<!--Basic example--></a></li>
    <li><a href="#btn-groups-toolbar">按鈕工具列<!--Button toolbar--></a></li>
    <li><a href="#btn-groups-sizing">大小<!--Sizing--></a></li>
    <li><a href="#btn-groups-nested">巢狀<!--Nesting--></a></li>
    <li><a href="#btn-groups-vertical">垂直變化<!--Vertical variation--></a></li>
    <li><a href="#btn-groups-justified">水平變化<!--Justified link variation--></a></li>
  </ul>
</li>
<li>
  <a href="#btn-dropdowns">按鈕下拉選單<!--Button dropdowns--></a>
  <ul class="nav">
    <li><a href="#btn-dropdowns-single">單一按鈕下拉選單<!--Single button dropdowns--></a></li>
    <li><a href="#btn-dropdowns-split">分割按鈕下拉選單<!--Split button dropdowns--></a></li>
    <li><a href="#btn-dropdowns-sizing">大小<!--Sizing--></a></li>
    <li><a href="#btn-dropdowns-dropup">向上彈出變化<!--Dropup variation--></a></li>
  </ul>
</li>
<li>
  <a href="#input-groups">Input 群組<!--Input groups--></a>
  <ul class="nav">
    <li><a href="#input-groups-basic">基本範例<!--Basic example--></a></li>
    <li><a href="#input-groups-sizing">大小<!--Sizing--></a></li>
    <li><a href="#input-groups-checkboxes-radios">附加 Checkbox 和 radio 元素<!--Checkbox and radios addons--></a></li>
    <li><a href="#input-groups-buttons">附加按鈕元素<!--Button addons--></a></li>
    <li><a href="#input-groups-buttons-dropdowns">帶有單一按鈕下拉選單<!--Buttons with dropdowns--></a></li>
    <li><a href="#input-groups-buttons-segmented">帶有分割按鈕下接選單<!--Segmented buttons--></a></li>
  </ul>
</li>
<li>
  <a href="#nav">巡覽<!--Navs--></a>
  <ul class="nav">
    <li><a href="#nav-tabs">頁籤<!--Tabs--></a></li>
    <li><a href="#nav-pills">藥片樣式<!--Pills--></a></li>
    <li><a href="#nav-justified">等寬樣式<!--Justified nav--></a></li>
    <li><a href="#nav-disabled-links">禁用連結<!--Disabled links--></a></li>
    <li><a href="#nav-dropdowns">使用下拉選單<!--Using dropdowns--></a></li>
  </ul>
</li>
<li>
  <a href="#navbar">巡覽列<!--Navbar--></a>
  <ul class="nav">
    <li><a href="#navbar-default">預設巡覽列<!--Default navbar--></a></li>
    <li><a href="#navbar-brand-image">品牌圖片<!--Brand Image--></a></li>
    <li><a href="#navbar-forms">表單<!--Forms--></a></li>
    <li><a href="#navbar-buttons">按鈕<!--Buttons--></a></li>
    <li><a href="#navbar-text">文字<!--Text--></a></li>
    <li><a href="#navbar-links">非巡覽連結<!--Non-nav links--></a></li>
    <li><a href="#navbar-component-alignment">元件對齊<!--Component alignment--></a></li>
    <li><a href="#navbar-fixed-top">固定至頂端<!--Fixed to top--></a></li>
    <li><a href="#navbar-fixed-bottom">固定至底端<!--Fixed to bottom--></a></li>
    <li><a href="#navbar-static-top">頂端靜止<!--Static top--></a></li>
    <li><a href="#navbar-inverted">反向顏色<!--Inverted navbar--></a></li>
  </ul>
</li>
<li><a href="#breadcrumbs">麵包屑巡覽<!--Breadcrumbs--></a></li>
<li>
  <a href="#pagination">分頁巡覽<!--Pagination--></a>
  <ul class="nav">
    <li><a href="#pagination-default">預設分頁<!--Default pagination--></a></li>
    <li><a href="#pagination-pager">換頁<!--Pager--></a></li>
  </ul>
</li>
<li><a href="#labels">標籤<!--Labels--></a></li>
<li><a href="#badges">提示標誌<!--Badges--></a></li>
<li><a href="#jumbotron">大銀幕效果<!--Jumbotron--></a></li>
<li><a href="#page-header">頁面標題<!--Page header--></a></li>
<li>
  <a href="#thumbnails">縮圖<!--Thumbnails--></a>
  <ul class="nav">
    <li><a href="#thumbnails-default">預設範例<!--Default example--></a></li>
    <li><a href="#thumbnails-custom-content">自訂內容<!--Custom content--></a></li>
  </ul>
</li>
<li>
  <a href="#alerts">警告<!--Alerts--></a>
  <ul class="nav">
    <li><a href="#alerts-examples">範例<!--Examples--></a></li>
    <li><a href="#alerts-dismissible">可關閉的警告<!--Dismissible alerts--></a></li>
    <li><a href="#alerts-links">警告中連結<!--Links in alerts--></a></li>
  </ul>
</li>
<li>
  <a href="#progress">進度條<!--Progress bars--></a>
  <ul class="nav">
    <li><a href="#progress-basic">基本範例<!--Basic example--></a></li>
    <li><a href="#progress-label">隨著標籤<!--With label--></a></li>
    <li><a href="#progress-low-percentages">低百分比<!--Low percentages--></a></li>
    <li><a href="#progress-alternatives">狀態替換<!--Contextual alternatives--></a></li>
    <li><a href="#progress-striped">條紋樣式<!--Striped--></a></li>
    <li><a href="#progress-animated">動畫樣式<!--Animated--></a></li>
    <li><a href="#progress-stacked">堆疊樣式<!--Stacked--></a></li>
  </ul>
</li>
<li>
  <a href="#media">媒體物件<!--Media object--></a>
  <ul class="nav">
    <li><a href="#media-default">預設媒體<!--Default media--></a></li>
    <li><a href="#media-list">媒體清單<!--Media list--></a></li>
  </ul>
</li>
<li>
  <a href="#list-group">清單群組<!--List group--></a>
  <ul class="nav">
    <li><a href="#list-group-basic">基本範例<!--Basic example--></a></li>
    <li><a href="#list-group-badges">提示標誌<!--Badges--></a></li>
    <li><a href="#list-group-linked">已連結項目<!--Linked items--></a></li>
    <li><a href="#list-group-disabled">禁用項目<!--Disabled items--></a></li>
    <li><a href="#list-group-contextual-classes">狀態類別<!--Contextual classes--></a></li>
    <li><a href="#list-group-custom-content">自訂內容<!--Custom content--></a></li>
  </ul>
</li>
<li>
  <a href="#panels">面板<!--Panels--></a>
  <ul class="nav">
    <li><a href="#panels-basic">基本範例<!--Basic example--></a></li>
    <li><a href="#panels-heading">隨著標題<!--Panel with heading--></a></li>
    <li><a href="#panels-alternatives">狀態替換<!--Contextual alternatives--></a></li>
    <li><a href="#panels-tables">隨著表格<!--With tables--></a>
    <li><a href="#panels-list-group">隨著清單群組<!--With list groups--></a>
  </ul>
</li>
<li><a href="#responsive-embed">自適應嵌入內容<!--Responsive embed--></a></li>
<li><a href="#wells">嵌入效果<!--Wells--></a></li>

              
            </ul>
            <a class="back-to-top" href="#top">
              返回頂端<!--Back to top-->
            </a>
            
            <a href="#" class="bs-docs-theme-toggle" role="button">
              預覽主題<!--Preview theme-->
            </a>
            
          </div>
        </div>
