<div class="bs-docs-section">
  <h1 id="wells" class="page-header">嵌入效果<!--Wells--></h1>

  <h3>預設嵌入效果<!--Default well--></h3>
    <p>
        使用 <code>.well</code> 樣式能給元素加入一個簡單的嵌入（inset）效果。
        <!--Use the well as a simple effect on an element to give it an inset effect.-->
    </p>
  <div class="bs-example">
    <div class="well">
      Look, I'm in a well!
    </div>
  </div>
<div class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"well"</span><span class="nt">&gt;</span>...<span class="nt">&lt;/div&gt;</span></code></pre></div>
  <h3>選擇性類別<!--Optional classes--></h3>
    <p>
        由兩個選擇性修飾類別來控制內距和圓角。
        <!--Control padding and rounded corners with two optional modifier classes.-->
    </p>
  <div class="bs-example">
    <div class="well well-lg">
      Look, I'm in a large well!
    </div>
  </div>
<div class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"well well-lg"</span><span class="nt">&gt;</span>...<span class="nt">&lt;/div&gt;</span></code></pre></div>

  <div class="bs-example">
    <div class="well well-sm">
      Look, I'm in a small well!
    </div>
  </div>
<div class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"well well-sm"</span><span class="nt">&gt;</span>...<span class="nt">&lt;/div&gt;</span></code></pre></div>
</div>
