<div class="bs-docs-section">
  <h1 id="sass" class="page-header">使用 Sass<!--Using Sass--></h1>
    <p class="lead">
        雖然 Bootstrap 3 是基於 Less 建置的，我們也提供了一個<a href="https://github.com/twbs/bootstrap-sass">官方 Sass 移植版</a>。我們維護它在一個獨立的 GitHub 儲存庫中，並處理轉換 Script 的更新。
        <!--While Bootstrap is built on Less, it also has an <a href="https://github.com/twbs/bootstrap-sass">official Sass port</a>. We maintain it in a separate GitHub repository and handle updates with a conversion script.-->
    </p>

  <h2 id="sass-contents">包含的內容<!--What's included--></h2>
    <p>
        雖然 Sass 移植版有一個獨立儲存庫，並針對不同的使用者，這個專案的內容和 Bootstrap 3 主專案有很大的不同。這是為了確保 Sass 移植版與其他許多基於 Sass 的系統盡可能保持相容。
        <!--Since the Sass port has a separate repo and serves a slightly different audience, the contents of the project differ greatly from the main Bootstrap project. This ensures the Sass port is as compatible with as many Sass-based systems as possible.-->
    </p>

  <div class="table-responsive">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Path</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th><code>lib/</code></th>
          <td>Ruby gem code (Sass configuration, Rails and Compass integrations)</td>
        </tr>
        <tr>
          <th><code>tasks/</code></th>
          <td>Converter scripts (turning upstream Less to Sass)</td>
        </tr>
        <tr>
          <th><code>test/</code></th>
          <td>Compilation tests</td>
        </tr>
        <tr>
          <th><code>templates/</code></th>
          <td>Compass package manifest</td>
        </tr>
        <tr>
          <th><code>vendor/assets/</code></th>
          <td>Sass, JavaScript, and font files</td>
        </tr>
        <tr>
          <th><code>Rakefile</code></th>
          <td>Internal tasks, such as rake and convert</td>
        </tr>
      </tbody>
    </table>
  </div>
    <p>
        訪問 <a href="https://github.com/twbs/bootstrap-sass">Sass 移植版 GitHub 儲存庫</a>，以瞭解這些檔案的作業。
        Visit the <a href="https://github.com/twbs/bootstrap-sass">Sass port's GitHub repository</a> to see these files in action.
    </p>


  <h2 id="sass-installation">安裝<!--Installation--></h2>
    <p>
        關於如何安裝與使用 Bootstrap 3 的 Sass 移植版，請參考 <a href="https://github.com/twbs/bootstrap-sass">GitHub 儲存庫的 readme 檔案</a>。它包含最新原始碼，包含使用 Rails、Compass 和標準 Sass 專案資訊。
        <!--For information on how to install and use Bootstrap for Sass, consult the <a href="https://github.com/twbs/bootstrap-sass">GitHub repository readme</a>. It's the most up to date source and includes information for use with Rails, Compass, and standard Sass projects.-->
    </p>
  <p>
    <a class="btn btn-lg btn-outline" href="https://github.com/twbs/bootstrap-sass">Sass 的 Bootstrap<!--Bootstrap for Sass--></a>
  </p>
</div>

