@* Footer *@
<footer class="bs-docs-footer" role="contentinfo">
    <div class="container">
        <p>
            <script type="text/javascript" src="//media.line.me/js/line-button.js?v=20140411"></script>
            <script type="text/javascript">
                new media_line_me.LineButton({ "pc": false, "lang": "zh-hant", "type": "a" });
            </script>
        </p>
        <p>
            設計與建置由有世界大愛的 <a href="http://twitter.com/mdo" target="_blank">@@mdo</a> 和
            <a href="http://twitter.com/fat" target="_blank">@@fat</a>。並由 <a href="https://blog.kkbruce.net" rel="author" target="_blank">陳傳興</a> 翻譯。
        </p>
        <p>
            由<a href="https://github.com/twbs?tab=members">核心團隊</a>與
            我們的<a href="https://github.com/twbs/bootstrap/graphs/contributors">貢獻者</a>的幫助下維護。
        </p>
        <p>
            程式碼依 <a href="https://github.com/twbs/bootstrap/blob/master/LICENSE" target="_blank">MIT</a> 授權，英文文件依 <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a> 授權。<br>
            Code licensed under <a href="https://github.com/twbs/bootstrap/blob/master/LICENSE" target="_blank">MIT</a>, documentation under <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.
        </p>
        <ul class="bs-docs-footer-links muted">
            <li>翻譯版本 v3.3.1</li>
            <li>·</li>
            <li><a href="https://github.com/twbs/bootstrap">GitHub</a></li>
            <li>·</li>
            <li>@Html.ActionLink("範例", "Gettingstarted", null, null, null, "examples", null, null)</li>
            <li>·</li>
            <li>@Html.ActionLink("v2.3.2", "Index", "bs2")</li>
            <li>·</li>
            <li>@Html.ActionLink("關於", "About")</li>
            <li>·</li>
            <li><a href="http://expo.getbootstrap.com">官方精選</a></li>
            <li>·</li>
            <li><a href="http://blog.getbootstrap.com">官方Blog</a></li>
            <li>·</li>
            <li><a href="https://github.com/twbs/bootstrap/issues">問題</a></li>
            <li>·</li>
            <li><a href="https://github.com/twbs/bootstrap/releases">發行版本</a></li>
        </ul>
    </div>
</footer>
