<div class="bs-docs-section">
  <h1 id="alerts" class="page-header">警告訊息<!--Alert messages--> <small>alert.js</small></h1>

  <h2 id="alerts-examples">警告範例<!--Example alerts--></h2>
    <p>
        利用此外掛對所有警告訊息加入取消功能。
        <!--Add dismiss functionality to all alert messages with this plugin.-->
    </p>
    <p>
        當按鈕使用 <code>.close</code> 按鈕，它必須是 <code>.alert-dismissible</code> 之後第一個子元素，才能沒有任何文字內容在標記之中。
        <!--When using a <code>.close</code> button, it must be the first child of the <code>.alert-dismissible</code> and no text content may come before it in the markup.-->
    </p>
  <div class="bs-example bs-example-standalone">
    <div class="alert alert-warning alert-dismissible fade in" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <strong>Holy guacamole!</strong> Best check yo self, you're not looking too good.
    </div>

    <div class="alert alert-danger alert-dismissible fade in" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4>Oh snap! You got an error!</h4>
      <p>Change this and that and try again. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum.</p>
      <p>
        <button type="button" class="btn btn-danger">Take this action</button>
        <button type="button" class="btn btn-default">Or do this</button>
      </p>
    </div>
  </div><!-- /example -->

  <div class="bs-callout bs-callout-warning">
    <h4>譯者註</h4>
    <p>取消功能是指最右邊的「X」。</p>
  </div>

  <h2 id="alerts-usage">使用方法<!--Usage--></h2>
    <p>
        僅需要加入 <code>data-dismiss="alert"</code> 到你的關閉按鈕，即可自動賦予警告訊息閉關的功能。關閉警告訊息將會它從 DOM 之中移除。
        <!--Just add <code>data-dismiss="alert"</code> to your close button to automatically give an alert close functionality. Closing an alert removes it from the DOM.-->
    </p>

<div class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;button</span> <span class="na">type=</span><span class="s">"button"</span> <span class="na">class=</span><span class="s">"close"</span> <span class="na">data-dismiss=</span><span class="s">"alert"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;span</span> <span class="na">aria-hidden=</span><span class="s">"true"</span><span class="nt">&gt;</span><span class="ni">&amp;times;</span><span class="nt">&lt;/span&gt;</span>
  <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"sr-only"</span><span class="nt">&gt;</span>Close<span class="nt">&lt;/span&gt;</span>
<span class="nt">&lt;/button&gt;</span></code></pre></div>

    <p>
        為了關閉警告時能有動畫效果，確定它們有套用到 <code>.fade</code> 和 <code>.in</code> 類別。
        <!--To have your alerts use animation when closing, make sure they have the <code>.fade</code> and <code>.in</code> classes already applied to them.-->
    </p>

  <h3>方法<!--Methods--></h3>

  <h4>$().alert()</h4>
    <p>
        使警告訊息能監聽 <code>data-dismiss="alert"</code> 屬性的後代元素的 <code>click</code> 事件。（當使用 <code>data-</code> API 自動初始化時不需要）。
        <!--Makes an alert listen for click events on descendant elements which have the <code>data-dismiss="alert"</code> attribute. (Not necessary when using the data-api's auto-initialization.)-->
    </p>

  <h4>$().alert('close')</h4>
    <p>
        關閉警告訊息並從 DOM 移除它。如果 <code>.fade</code> 和 <code>.in</code> 類別存在在元素上，那麼警告元素會在淡出效果之後才會移除。
        <!--Closes an alert by removing it from the DOM. If the <code>.fade</code> and <code>.in</code> classes are present on the element, the alert will fade out before it is removed.-->
    </p>


  <h3>事件<!--Events--></h3>
    <p>
        Bootstrap 的警告訊息類別有公開一些事件允許監聽警告功能。
        <!--Bootstrap's alert plugin exposes a few events for hooking into alert functionality.-->
    </p>
  <div class="table-responsive">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th style="width: 150px;">事件類別<!--Event Type--></th>
          <th>說明<!--Description--></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>close.bs.alert</td>
            <td>
                當 <code>close</code> 執行個體方法被呼叫，此事件會立即被觸發。
                <!--This event fires immediately when the <code>close</code> instance method is called.-->
            </td>
        </tr>
        <tr>
          <td>closed.bs.alert</td>
            <td>
                當警告訊息已經在使用者面前關閉完成（且 CSS 轉場效果已經完成），此事件會被觸發。
                <!--This event is fired when the alert has been closed (will wait for CSS transitions to complete).-->
            </td>
        </tr>
      </tbody>
    </table>
  </div><!-- /.table-responsive -->
<div class="highlight"><pre><code class="language-js" data-lang="js"><span class="nx">$</span><span class="p">(</span><span class="s1">'#myAlert'</span><span class="p">).</span><span class="nx">on</span><span class="p">(</span><span class="s1">'closed.bs.alert'</span><span class="p">,</span> <span class="kd">function</span> <span class="p">()</span> <span class="p">{</span>
  <span class="c1">// do something…</span>
<span class="p">})</span></code></pre></div>
</div>
