<div class="col-md-3">
          <div class="bs-docs-sidebar hidden-print hidden-xs hidden-sm" role="complementary">
              <ul class="nav bs-docs-sidenav">
                  <li>
                      <a href="#js-overview">概觀<!--Overview--></a>
                      <ul class="nav">
                          <li><a href="#js-individual-compiled">獨立或完整<!--Individual or compiled--></a></li>
                          <li><a href="#js-data-attrs">data- 屬性<!--Data attributes--></a></li>
                          <li><a href="#js-programmatic-api">程式 API<!--Programmatic API--></a></li>
                          <li><a href="#js-noconflict">不衝突<!--No conflict--></a></li>
                          <li><a href="#js-events">事件<!--Events--></a></li>
                          <li><a href="#js-disabled">當 JavaScript 被禁用<!--When JavaScript is disabled--></a></li>
                          <li><a href="#callout-third-party-libs">第三方函式庫<!--Third-party libraries--></a></li>
                      </ul>
                  </li>
                  <li><a href="#transitions">轉場效果<!--Transitions--></a></li>
                  <li>
                      <a href="#modals">互動視窗<!--Modal--></a>
                      <ul class="nav">
                          <li><a href="#modals-examples">範例<!--Examples--></a></li>
                          <li><a href="#modals-sizes">大小<!--Sizes--></a></li>
                          <li><a href="#modals-remove-animation">移除動畫<!--Remove animation--></a></li>
                          <li><a href="#modals-related-target">基於觸發按鈕不同互動視窗內容<!--Varying content based on trigger button--></a></li>
                          <li><a href="#modals-usage">使用方法<!--Usage--></a></li>
                      </ul>
                  </li>
                  <li>
                      <a href="#dropdowns">下拉選單<!--Dropdown--></a>
                      <ul class="nav">
                          <li><a href="#dropdowns-examples">範例<!--Examples--></a></li>
                          <li><a href="#dropdowns-usage">使用方法<!--Usage--></a></li>
                      </ul>
                  </li>
                  <li>
                      <a href="#scrollspy">滑動監視<!--Scrollspy--></a>
                      <ul class="nav">
                          <li><a href="#scrollspy-examples">範例<!--Examples--></a></li>
                          <li><a href="#scrollspy-usage">使用方法<!--Usage--></a></li>
                      </ul>
                  </li>
                  <li>
                      <a href="#tabs">頁籤<!--Tab--></a>
                      <ul class="nav">
                          <li><a href="#tabs-examples">範例<!--Examples--></a></li>
                          <li><a href="#tabs-usage">使用方法<!--Usage--></a></li>
                      </ul>
                  </li>
                  <li>
                      <a href="#tooltips">提示訊息<!--Tooltip--></a>
                      <ul class="nav">
                          <li><a href="#tooltips-examples">範例<!--Examples--></a></li>
                          <li><a href="#tooltips-usage">使用方法<!--Usage--></a></li>
                      </ul>
                  </li>
                  <li>
                      <a href="#popovers">彈出提示<!--Popover--></a>
                      <ul class="nav">
                          <li><a href="#popovers-examples">範例<!--Examples--></a></li>
                          <li><a href="#popovers-usage">使用方法<!--Usage--></a></li>
                      </ul>
                  </li>
                  <li>
                      <a href="#alerts">警告<!--Alert--></a>
                      <ul class="nav">
                          <li><a href="#alerts-examples">範例<!--Examples--></a></li>
                          <li><a href="#alerts-usage">使用方法<!--Usage--></a></li>
                      </ul>
                  </li>
                  <li>
                      <a href="#buttons">按鈕<!--Button--></a>
                      <ul class="nav">
                          <li><a href="#buttons-examples">範例<!--Examples--></a></li>
                          <li><a href="#buttons-usage">使用方法<!--Usage--></a></li>
                      </ul>
                  </li>
                  <li>
                      <a href="#collapse">折疊效果<!--Collapse--></a>
                      <ul class="nav">
                          <li><a href="#collapse-examples">範例<!--Examples--></a></li>
                          <li><a href="#collapse-usage">使用方法<!--Usage--></a></li>
                      </ul>
                  </li>
                  <li>
                      <a href="#carousel">輪播效果<!--Carousel--></a>
                      <ul class="nav">
                          <li><a href="#carousel-examples">範例<!--Examples--></a></li>
                          <li><a href="#carousel-usage">使用方法<!--Usage--></a></li>
                      </ul>
                  </li>
                  <li>
                      <a href="#affix">附加巡覽<!--Affix--></a>
                      <ul class="nav">
                          <li><a href="#affix-examples">範例<!--Examples--></a></li>
                          <li><a href="#affix-usage">使用方法<!--Usage--></a></li>
                      </ul>
                  </li>


              </ul>
            <a class="back-to-top" href="#top">
              返回頂端<!--Back to top-->
            </a>
            
            <a href="#" class="bs-docs-theme-toggle" role="button">
              預覽主題<!--Preview theme-->
            </a>
            
          </div>
        </div>
