<div class="bs-docs-section">
    <h1 id="template" class="page-header">基礎範本<!--Basic template--></h1>

    <p class="lead">
        由下面這個基礎的 HTML 範本開始，是個不錯的選擇，或著修改<a href="#examples">這些範例</a>。我們希望你能動手修改這些範本或範例，並按照自己的需求來改寫它們。
        <!--Start with this basic HTML template, or modify <a href="#examples">these examples</a>. We hope you'll customize our templates and examples, adapting them to suit your needs.-->
    </p>

    <p>
        複製以下的 HTML，這是最簡單且可運作的 Bootstrap 3 HTML 結構。
        <!--Copy the HTML below to begin working with a minimal Bootstrap document.-->
    </p>
    <div class="highlight">
        <pre><code class="language-html" data-lang="html"><span class="cp">&lt;!DOCTYPE html&gt;</span>
<span class="nt">&lt;html</span> <span class="na">lang=</span><span class="s">"en"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;head&gt;</span>
        <span class="nt">&lt;meta</span> <span class="na">charset=</span><span class="s">"utf-8"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;meta</span> <span class="na">http-equiv=</span><span class="s">"X-UA-Compatible"</span> <span class="na">content=</span><span class="s">"IE=edge"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;meta</span> <span class="na">name=</span><span class="s">"viewport"</span> <span class="na">content=</span><span class="s">"width=device-width, initial-scale=1"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;title&gt;</span>Bootstrap 101 Template<span class="nt">&lt;/title&gt;</span>
        <span class="c">&lt;!-- Bootstrap --&gt;</span>
        <span class="nt">&lt;link</span> <span class="na">href=</span><span class="s">"css/bootstrap.min.css"</span> <span class="na">rel=</span><span class="s">"stylesheet"</span><span class="nt">&gt;</span>
        <span class="c">&lt;!-- HTML5 shim and Respond.js 讓 IE8 支援 HTML5 元素與媒體查詢 --&gt;</span>
        <span class="c">&lt;!-- 警告：Respond.js 無法在 file:// 協定下運作 --&gt;</span>
        <span class="c">&lt;!--[if lt IE 9]&gt;
      &lt;script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"&gt;&lt;/script&gt;
      &lt;script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"&gt;&lt;/script&gt;
    &lt;![endif]--&gt;</span>
        <span class="nt">&lt;/head&gt;</span>
        <span class="nt">&lt;body&gt;</span>
        <span class="nt">&lt;h1&gt;</span>Hello, world!<span class="nt">&lt;/h1&gt;</span>
        <span class="c">&lt;!-- jQuery (Bootstrap 所有外掛均需要使用) --&gt;</span>
        <span class="nt">&lt;script </span><span class="na">src=</span><span class="s">"https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"</span><span class="nt">&gt;&lt;/script&gt;</span>
        <span class="c">&lt;!-- 依需要參考已編譯外掛版本（如下），或各自獨立的外掛版本 --&gt;</span>
        <span class="nt">&lt;script </span><span class="na">src=</span><span class="s">"js/bootstrap.min.js"</span><span class="nt">&gt;&lt;/script&gt;</span>
        <span class="nt">&lt;/body&gt;</span>
<span class="nt">&lt;/html&gt;</span></code></pre>
    </div>
</div>

