<div class="col-md-3">
    <div class="bs-docs-sidebar hidden-print hidden-xs hidden-sm" role="complementary">
        <ul class="nav bs-docs-sidenav">
            <li>
                <a href="#download">下載<!--Download--></a>
            </li>
            <li>
                <a href="#whats-included">包含內容<!--What's included--></a>
                <ul class="nav">
                    <li>
                        <a href="#whats-included-precompiled">預編譯的 Bootstrap 3<!--Precompiled--></a>
                    </li>
                    <li>
                        <a href="#whats-included-source">Bootstrap 3 原始碼<!--Source code--></a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#grunt">編譯 CSS 和 JavaScript<!--Compiling CSS and JavaScript--></a>
                <ul class="nav">
                    <li>
                        <a href="#grunt-installing">安裝 Grunt<!--Installing Grunt--></a>
                    </li>
                    <li>
                        <a href="#grunt-commands">可用的 Grunt 指令<!--Available Grunt commands--></a>
                    </li>
                    <li>
                        <a href="#grunt-troubleshooting">問題排除<!--Troubleshooting--></a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#template">入門範本<!--Basic template--></a>
            </li>
            <li>
                <a href="#examples">範例<!--Examples--></a>
                <ul class="nav">
                    <li>
                        <a href="#examples-framework">使用框架<!--Using the framework--></a>
                    </li>
                    <li>
                        <a href="#examples-navbars">巡覽列實作<!--Navbars in action--></a>
                    </li>
                    <li>
                        <a href="#examples-custom">自訂元件<!--Custom components--></a>
                    </li>
                    <li>
                        <a href="#examples-experiments">實驗性<!--Experiments--></a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#community">社群<!--Community--></a>
            </li>
            <li>
                <a href="#tools">工具</a>
                <ul class="nav">
                    <li><a href="#tools-bootlint">Bootlint</a></li>
                </ul>
            </li>
            <li>
                <a href="#disable-responsive">取消自適應佈局<!--Disabling responsiveness--></a>
            </li>
            <li>
                <a href="#migration">由 v2.x 遷移至 v3.x<!--Migrating from 2.x to 3.0--></a>
            </li>
            <li>
                <a href="#support">瀏覽器和設備支援狀態<!--Browser and device support--></a>
                <ul class="nav">
                    <li>
                        <a href="#support-browsers"><!--Supported browsers--></a>
                    </li>
                    <li>
                        <a href="#support-ie8-ie9">Internet Explorer 8-9</a>
                    </li>
                    <li>
                        <a href="#support-ie8-respondjs">IE8 和 Respond.js<!--IE8 and Respond.js--></a>
                    </li>
                    <li>
                        <a href="#support-ie8-box-sizing">IE8 和 box-sizing<!--IE8 and box-sizing--></a>
                    </li>
                    <li>
                        <a href="#support-ie8-font-face">IE8 和 @@font-face<!--IE8 and @@font-face--></a>
                    </li>
                    <li>
                        <a href="#support-ie-compatibility-modes">IE 相容性模式<!--IE Compatibility modes--></a>
                    </li>
                    <li>
                        <a href="#support-ie10-width">IE10 和 Windows (Phone) 8<!--IE10 and Windows (Phone) 8--></a>
                    </li>
                    <li>
                        <a href="#support-safari-percentages">Safari 百分比進位<!--Safari percent rounding--></a>
                    </li>
                    <li>
                        <a href="#support-fixed-position-keyboards">互動視窗、巡覽列和虛擬鍵盤<!--Modals, navbars, and virtual keyboards--></a>
                    </li>
                    <li>
                        <a href="#support-browser-zooming">瀏覽器的縮放<!--Browser zooming--></a>
                    </li>
                    <li>
                        <a href="#support-printing">印表機可視區域<!--Printer viewports--></a>
                    </li>
                    <li>
                        <a href="#support-android-stock-browser">Android stock 瀏覽器<!--Android stock browser--></a>
                    </li>
                    <li>
                        <a href="#support-validators">驗證器<!--Android stock browser--></a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#third-parties">第三方支援<!--Third party support--></a>
            </li>
            <li>
                <a href="#accessibility">無障礙<!--Accessibility--></a>
            </li>
            <li>
                <a href="#license-faqs-tw">授權常見問題<!--License FAQs--></a>
            </li>
            <li>
                <a href="#translations">翻譯<!--Translations--></a>
            </li>
        </ul>
        <a class="back-to-top" href="#top">返回頂端<!--Back to top--></a>
    </div>
</div>
