<div class="bs-docs-section">
    <h1 id="community" class="page-header">社群<!--Community--></h1>

    <p class="lead">
        保持最新的 Bootstrap 3 發展，並且深入至社群與這些有用的資源。
        <!--Stay up to date on the development of Bootstrap and reach out to the community with these helpful resources.-->
    </p>
    <ul>
        <li>
            閱讀和訂閱 <a href="http://blog.getbootstrap.com/">Bootstrap 官方部落格</a>。
            <!--Read and subscribe to <a href="http://blog.getbootstrap.com/">The Official Bootstrap Blog</a>.-->
        </li>
        <li>
            在 <a href="irc://irc.freenode.net/#twitter-bootstrap">##twitter-bootstrap</a> 頻道，
            使用 IRC <code>irc.freenode.net</code> 伺服器與其他 Bootstrap 使用者交流。
            <!--Chat with fellow Bootstrappers using IRC in the <code>irc.freenode.net</code> server,
            in the <a href="irc://irc.freenode.net/#twitter-bootstrap">##twitter-bootstrap channel</a>.-->
        </li>
        <li>
            使用 Bootstrap 上需要幫助，
            在 <a href="http://stackoverflow.com/questions/tagged/twitter-bootstrap-3">StackOverflow 使用標籤 <code>twitter-bootstrap-3</code></a> 來搜尋解答或發問。
            <!--For help using Bootstrap,
            ask on <a href="http://stackoverflow.com/questions/tagged/twitter-bootstrap-3">StackOverflow using the tag <code>twitter-bootstrap-3</code></a>.-->
        </li>
        <li>
            找尋人們建置的 Bootstrap 精彩範例，別錯過 <a href="http://expo.getbootstrap.com">Bootstrap 精選</a>。
            <!--Find inspiring examples of people building with Bootstrap at the <a href="http://expo.getbootstrap.com">Bootstrap Expo</a>.-->
        </li>
    </ul>
    <p>
        你也可以在 Twitter 跟隨 <a href="https://twitter.com/twbootstrap">@@twbootstrap</a> 帳號以取得最新八卦和有趣的音樂影片。
        <!--You can also follow <a href="https://twitter.com/twbootstrap">@@twbootstrap on Twitter</a> for the latest gossip and awesome music videos.-->
    </p>
</div>

