<div class="bs-docs-section">
    <h1 id="tools" class="page-header">工具<!--Tools--></h1>

    <h2 id="tools-bootlint">Bootlint</h2>
    <p>
        <strong><a href="https://github.com/twbs/bootlint">Bootlint</a></strong> 是 Bootstrap 官方 HTML <a data-noreplace="1" data-new-link="http://www.wikiwand.com/en/Lint_(software)" href="http://www.wikiwand.com/en/Lint_(software)">linter</a> 工具。它能自動化檢查網頁中常見的 HTML 錯誤，那是在使用 Bootstrap 時相當常見的做法。一般 Boostrap 的元件需要它們一部分的 DOM 符合特定結構，Bootlint 能檢查 Bootstrap 元件的執行個體是否符合正確的 HTML 結構。可以考慮將 Bootlint 加入到你的 Bootstrap 網頁開發工具鏈中，以減少常見錯誤造成專案的開發。
        <!--<strong><a href="https://github.com/twbs/bootlint">Bootlint</a></strong> is the official Bootstrap HTML <a href="http://en.wikipedia.org/wiki/Lint_(software)">linter</a> tool. It automatically checks for several common HTML mistakes in webpages that are using Bootstrap in a fairly "vanilla" way. Vanilla Bootstrap's components/widgets require their parts of the DOM to conform to certain structures. Bootlint checks that instances of Bootstrap components have correctly-structured HTML. Consider adding Bootlint to your Bootstrap web development toolchain so that none of the common mistakes slow down your project's development.-->
    </p>
</div>
