<div class="bs-docs-section">
    <h1 id="license-faqs-en" class="page-header">License FAQs</h1>
    <p class="lead">Bootstrap is released under the MIT license and is copyright 2014 Twitter. Boiled down to smaller chunks, it can be described with the following conditions.</p>

    <h4>It requires you to:</h4>
    <ul>
        <li>Include the license and copyright notice in your works</li>
    </ul>

    <h4>It permits you to:</h4>
    <ul>
        <li>Freely download and use Bootstrap, in whole or in part, for personal, private, company internal, or commercial purposes</li>
        <li>Use Bootstrap in packages or distributions that you create</li>
        <li>Modify the source code</li>
        <li>Grant a sublicense to modify and distribute Bootstrap to third parties not included in the license</li>
    </ul>

    <h4>It forbids you to:</h4>
    <ul>
        <li>Hold the authors and license owners liable for damages as Bootstrap is provided without warranty</li>
        <li>Hold the creators or copyright holders of Bootstrap liable</li>
        <li>Redistribute any piece of Bootstrap without proper attribution</li>
        <li>Use any marks owned by Twitter in any way that might state or imply that Twitter endorses your distribution</li>
        <li>Use any marks owned by Twitter in any way that might state or imply that you created the Twitter software in question</li>
    </ul>

    <h4>It does not require you to:</h4>
    <ul>
        <li>Include the source of Bootstrap itself, or of any modifications you may have made to it, in any redistribution you may assemble that includes it</li>
        <li>Submit changes that you make to Bootstrap back to the Bootstrap project (though such feedback is encouraged)</li>
    </ul>

    <p>The full Bootstrap license is located <a href="https://github.com/twbs/bootstrap/blob/master/LICENSE">in the project repository</a> for more information.</p>
</div>

<div class="bs-docs-section">
    <h1 id="license-faqs-tw" class="page-header">授權常見問題<!--License FAQs--></h1>
    <p class="lead">
        Bootstrap 依據 MIT 授權進行發行，版權為 2014 Twitter 所有。歸納一些重點：
        <!--Bootstrap is released under
        the MIT license and is copyright 2014 Twitter. Boiled down to smaller chunks, it can be described with the following
        conditions.-->
    </p>
    <h4>它要求你：<!--It requires you to:--></h4>
    <ul>
        <li>在你的作品中包含授權與版權聲明<!--Include the license and copyright notice in your works--></li>
    </ul>
    <h4>它授權你：<!--It permits you to:--></h4>
    <ul>
        <li>
            免費的下載和使用 Bootstrap 的全部或部分，用於個人、私人、公司內部或商業目的
            <!--Freely download and use Bootstrap,
            in whole or in part, for personal, private, company internal, or commercial purposes-->
        </li>
        <li>使用 Bootstrap 套件或發行你建立的版本<!--Use Bootstrap in packages or distributions that you create--></li>
        <li>修改原始碼<!--Modify the source code--></li>
        <li>
            准予再授權以修改和發行 Bootstrap 到第三方，不包含原授權
            <!--Grant a sublicense to modify and distribute Bootstrap
            to third parties not included in the license-->
        </li>
    </ul>
    <h4>它禁止你：<!--It forbids you to:--></h4>
    <ul>
        <li>
            持有作者和授權者承擔賠償責任，Bootstrap 不提供任何擔保
            <!--Hold the authors and license owners liable for damages
            as Bootstrap is provided without warranty-->
        </li>
        <li>持有建立者和聲明者承擔 Bootstrap 責任<!--Hold the creators or copyright holders of Bootstrap liable--></li>
        <li>重新發行任何一個 Bootstrap 而不適當歸屬<!--Redistribute any piece of Bootstrap without proper attribution--></li>
        <li>
            使用 Twitter 所擁有的任何標誌，並且在任何可能明示或暗示方式表示 Twitter 贊同你的發行版本
            <!--Use any marks owned
            by Twitter in any way that might state or imply that Twitter endorses your distribution-->
        </li>
        <li>
            使用 Twitter 所擁有的任何標誌，並且在任何可能問題中明示或暗示方式表示由你建立的 Twitter 軟體
            <!--Use any marks
            owned by Twitter in any way that might state or imply that you created the Twitter software in question-->
        </li>
    </ul>
    <h4>它不要求你：<!--It does not require you to:--></h4>
    <ul>
        <li>
            包含 Bootstrap 本身的原始碼，或任何你可能做出的任何修改，在任何重新發行的情況，你可以重組包含它
            <!--Include the
            source of Bootstrap itself, or of any modifications you may have made to it, in any redistribution you may assemble
            that includes it-->
        </li>
        <li>
            提交你所做的變更的 Bootstrap 到 Bootstrap 專案（儘管這種回饋是值的鼓勵）
            <!--Submit changes that you make to
            Bootstrap back to the Bootstrap project (though such feedback is encouraged)-->
        </li>
    </ul>
    <p>
        完整 Bootstrap 授權在<a href="https://github.com/twbs/bootstrap/blob/master/LICENSE">
            專案的 repository
            <!--in the
            project repository-->
        </a> 中，請參考取得更多資訊。
        <!--The full Bootstrap license is located <a href="https://github.com/
        twbs/bootstrap/blob/master/LICENSE">in the project repository</a> for more information.-->
    </p>
</div>

<div class="bs-callout bs-callout-warning">
    <h4>譯者註</h4>
    <p>授權條文請以<a href="#license-faqs-en">英文</a>為主，譯者不是法律專家，不負任何中文翻譯上責任。</p>
</div>  
