<!-- Cross link to new migration page -->
<div class="bs-callout bs-callout-info" id="migration">
    <h4>由 v2.x 遷移至 v3.x<!--Migrating from v2.x to v3.x--></h4>
    <p>
        尋找由 Bootstrap 3 舊版本遷移至 v3.x 的方法嗎？查看一下我們的<a href="@Url.Action("Migration")">遷移手冊</a>。
        <!--Looking to migrate from an older version of Bootstrap to v3.x? Check out <a href="migration.html">our migration guide</a>.-->
    </p>
</div>

