<div class="bs-docs-section">
    <h1 id="translations" class="page-header">翻譯<!--Translations--></h1>

    <p class="lead">
        社群成員翻譯了數種語系的 Bootstrap 3 文件。它們不是正式支援並且不總是即時更新。
        <!--Community members have translated Bootstrap's documentation into various languages. None are officially supported and they may not always be up to date.-->
    </p>
    <ul>

        <li><a href="http://v3.bootcss.com/" hreflang="zh-Hans">Bootstrap 简体中文 (Simplified Chinese)</a></li>

        <li><a href="http://getbootstrap.dk/" hreflang="da">Bootstrap på Dansk (Danish)</a></li>

        <li><a href="http://www.oneskyapp.com/docs/bootstrap/fr" hreflang="fr">Bootstrap en Français (French)</a></li>

        <li><a href="http://holdirbootstrap.de/" hreflang="de">Bootstrap auf Deutsch (German)</a></li>

        <li><a href="http://www.hackerstribe.com/guide/IT-bootstrap-3.1.1/" hreflang="it">Bootstrap in Italiano (Italian)</a></li>

        <li><a href="http://bootstrapk.com/BS3/" hreflang="ko">Bootstrap 한국어 (Korean)</a></li>

        <li><a href="http://www.oneskyapp.com/docs/bootstrap/ru" hreflang="ru">Bootstrap по-русски (Russian)</a></li>

        <li><a href="http://www.oneskyapp.com/docs/bootstrap/es" hreflang="es">Bootstrap en Español (Spanish)</a></li>

        <li><a href="http://twbs.docs.org.ua" hreflang="uk">Bootstrap українською (Ukrainian)</a></li>

    </ul>
    <p>
        <strong class="text-danger">
            我們不幫助組識或托管翻譯文件，我們僅提供連結。
            <!--We don't help organize or host translations, we just link to them.-->
        </strong>
    </p>
    <p>
        完成一份新的或更好的翻譯？開一個新 pull 要求加入我們的清單。
        <!--Finished a new or better translation? Open a pull request to add it to our list.-->
    </p>
</div>

